.App {

}

.main-label {
    text-align: center;
}

.badge-mod {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.list-text_mod {
    margin-left: 20px;
    color: #2fb431;
    font-weight: 600;
}

.list-item_mod {

}

.item-number_mod {
    margin-right: 30px;
}

.form-mainLabel_mod {
    margin-top: 20px;
    font-size: 3rem;
}

.form-input_mod {
    /*padding: unset;*/
}

.form-button_mod {
    padding: unset;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="search"] {
    font-family: monospace;
    font-size: 2rem;
}

::placeholder {
    font-size: 1.3rem;
    font-style: italic;
}
