@import url('https://fonts.googleapis.com/css?family=Jura');

.App {
    font-family: 'Jura', sans-serif;
}

.container {
    max-width: 1400px;
}
.jumbotron_mod {
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    height: 170px;
    position: fixed;
    width: 1400px;
    z-index: 5;
    top: -20px;
}

.form-mainLabel_mod1 {
    font-size: 3.5rem;
    padding: 0;
    margin: unset;
}

.form-mainLabel_mod2 {
    font-size: 5rem;
    padding: 0;
    margin-top: 30px;
}

@media(max-width: 1300px) {

    .form-mainLabel_mod1 {
        font-size: 3rem;
        padding: 0;
        margin: unset;
    }

    .jumbotron_mod {
        width: 1300px;
    }
}

@media (max-width: 1100px) {

    .form-mainLabel_mod1 {
        font-size: 3rem;
        padding: 0;
        margin: unset;
    }

    .jumbotron_mod {
        width: 1100px;
    }
}

@media (max-width: 900px) {

    .form-mainLabel_mod1 {
        font-size: 3rem;
        padding: 0;
        margin: unset;
    }

    .form-mainLabel_mod2 {
        font-size: 3rem;
    }

    .jumbotron_mod {
        width: 900px;
    }
}

.form_mod {
    position: relative;
    top: 180px
}

.input-label_mod {

}

.double-consumer, .double-pro {
    zoom: .8;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}

.double-consumer {
    margin-right: 180px;
}

/* remove scrollbar */
body::-webkit-scrollbar {
    /*width: 0;*/
}

.highlight-text {
    background: none;
    color: #2fb431;
    font-weight: bold;
    padding: unset;
}

.jumbotron {
    padding: 10px;
}

.jumbotron-label-text {
    color: black;
    font-weight: bolder;
}

.jumbotron-label-number {
    color: #2fb431;
    font-weight: bolder;
    padding-left: 2px;
}

.jumbotron-result_mod {
    margin-top: 30px
}

.main-label {
    text-align: center;
}

.badge-mod {
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.list-text_mod {
    margin-left: 20px;
    color: #0d63af;
    font-weight: 600;
}

.breadcrumb:hover {
    background-color: #dbdee1;
}

.breadcrumb_mod {
    color: #0d81fe;
    font-weight: 500;
    text-decoration: none;
}

.breadcrumb-link_mod a {
    color: #0d81fe;
    text-decoration: none;
}

.breadcrumb-link_mod a:hover {
    color: #2fb431;
    font-weight: bolder;
}

.item-number_mod {
    margin-right: 30px;
}

.form-button_mod {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

::placeholder {
    font-size: 1.3rem;
    font-style: italic;
}

.jumbotron-input_mod {
    border-color: white;
    text-align: center;
}

.jumbotron-input-one_mod {
    text-align: right;
    font-weight: bolder;
    color: #2fb431;
}

.jumbotron-input-two_mod {
    text-align: right;
    font-weight: bolder;
    color: #2fb431;
}

.input-group {
    font-size: .5rem;
    outline: #f18911;
}

.jumbotron-button_mod {
    border-radius: 5px;
}

#useCaseInput, #runThisUCInput, #runAllInput {
    outline: none;
    border: none;
}

#useCasesSearch {
    color: #2fb431;
    font-weight: bolder;
}

.jumbotron-button_mod {
    visibility: hidden;
}

.jumbotron-input_mod:hover + .jumbotron-button_mod, .jumbotron-button_mod:hover {
    visibility: visible;
}

.jumbotron-label_mod {
    font-size: .8rem;
    padding-top: 6px;
    color: black;
    font-weight: bolder;
}

.jumbotron-lead {
    color: #2fb431;
    font-size: 1.3rem;
    font-weight: bolder;
}
