@import url('https://fonts.googleapis.com/css?family=Jura');

.App {
    font-family: 'Jura', sans-serif;
}

.container {
    max-width: 1400px;
}

.jumbotron_mod {
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
    height: 92px;
    position: fixed;
    width: 1400px;
    z-index: 5;
    top: -20px;
}

.form-mainLabel_mod1 {
    font-size: 1.5rem;
    padding: 0;
    margin: unset;
}

.form-mainLabel_mod2 {
    font-size: 4rem;
    padding: 0;
    position: relative;
    top: 10px;
}

.instruct-mod {
    /*background-color: #f4f7fa;*/
    border-radius: 5px;
    margin-bottom: 5px;
}

@media (max-width: 1300px) {

    .form-mainLabel_mod1 {
        font-size: 3rem;
        padding: 0;
        margin: unset;
    }

    .jumbotron_mod {
        width: 1300px;
    }
}

@media (max-width: 1100px) {

    .form-mainLabel_mod1 {
        font-size: 3rem;
        padding: 0;
        margin: unset;
    }

    .jumbotron_mod {
        width: 1100px;
    }
}

@media (max-width: 900px) {

    .form-mainLabel_mod1 {
        font-size: 3rem;
        padding: 0;
        margin: unset;
    }

    .form-mainLabel_mod2 {
        font-size: 3rem;
    }

    .jumbotron_mod {
        width: 900px;
    }
}

.form_mod {
    position: relative;
    top: 108px
}

.input-label_mod {
    cursor: pointer;
}

.input-checkbox_mod {
    cursor: pointer;
}

.double-consumer, .double-pro {
    zoom: .7;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    display: inline-block;
    margin-bottom: 20px;
}

.double-consumer {
    margin-right: 180px;
}

/* remove scrollbar */
body::-webkit-scrollbar {
    /*width: 0;*/
}

.highlight-text {
    background: none;
    color: #f18911;
    font-weight: bold;
    padding: unset;
}

.highlight-describeTag {
    background: none;
    color: #2fb431;
    font-weight: 600;
    padding: unset;
    font-style: normal;
}

.jumbotron {
    padding: 10px;
}

.jumbotron-label-text {
    color: #2fb431;
    font-weight: bolder;
}

.jumbotron-label-number {
    color: #2fb431;
    font-weight: bolder;
    padding-left: 2px;
}

.jumbotron-result_mod {
    position: absolute;
    left: 620px;
}

.main-label {
    text-align: center;
}

.badge-mod {
    padding: 5px;
    display: inline;
    cursor: pointer;
}

.list-item_mod {
    font-size: .8rem;
    font-weight: 600;
}

.list-text_mod1 {
    margin-left: 10px;
    color: #0d63af;
    font-weight: 300;
    font-size: 1.1rem;
    /*font-style: italic;*/
}

.list-text_mod2 {
    margin-left: 10px;
    color: #0d63af;
    font-weight: 300;
    font-size: .9rem;
    /*font-style: italic;*/
}

.breadcrumb {
    background-color: #f4f7fa;
}

.breadcrumb:hover {
    outline: 2px solid #2fb431;
}

.breadcrumb-link_mod {
    display: block;
    color: #2fb431;
}

.github-link_mod {
    color: #0d63af;
    text-decoration: none;
    margin-left: 56px;
}

.jenkins-link_mod {
    color: #0d63af;
    margin-left: 50px;
}

.environment_mod {
    color: #0d63af;
    margin-left: 125px;
}

.jenkins-link_mod:hover, .github-link_mod:hover {
    color: #ff1500;
    font-weight: bolder;
    text-decoration: none;
}

.item-number_mod {
    margin-right: 30px;
    color: #0d63af;
    font-size: 1.0rem;
}

.form-button_mod {
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

::placeholder {
    font-size: 1.3rem;
    font-style: italic;
}

.collapse-input_mod {
    border-color: white;
    outline: none;
    border: none;
    user-select: none;
}

::selection {
    color: #ff1500;
}

.form-control[readonly] {
    background-color: #f4f7fa;
}

.collapse-input-one_mod {
    text-align: left;
    font-weight: bolder;
    color: #0d63af;
}

.collapse-input-two_mod {
    text-align: left;
    font-weight: bolder;
    color: #0d63af;
}

.input-group {
    font-size: .5rem;
    outline: #f18911;
    margin-top: 5px;
}

.collapse-inputGroup_mod {
    margin-top: 30px;
    padding-bottom: 10px;
}

.collapse-button_mod {
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bolder;
    width: 170px;
}

.collapse-button_mod:hover {
    background-color: #277d29;
    font-weight: lighter;
}

/*#useCaseInput, #runThisUCInput, #runAllInput {*/
/*    outline: none;*/
/*    border: none;*/
/*    background-color: #f4f7fa;*/
/*}*/

#useCasesSearch {
    color: #2fb431;
    font-weight: bolder;
}

.jumbotron-label_mod {
    font-size: .8rem;
    padding-top: 6px;
    color: black;
    font-weight: bolder;
}

.jumbotron-lead {
    color: #2fb431;
    font-size: 1.3rem;
    font-weight: bolder;
}

.checkbox-counter {
    color: #2fb431;
    font-size: .6rem;
}

.print_view-button_mod {
    display: block;
    float: right;
    margin-right: -300px;
}

.all-cases-button_mod {
    display: none;
    /*left: 1050px;*/
    /*bottom: 400px;*/
    position: absolute;
    /*z-index: 10;*/
}

.blue-color {
    color: #0d63af;
}

.red-color {
    color: red;
}

.bottom-margin {
    margin-bottom: 20px;
}

.font-weight-bolder {
    font-weight: bolder;
}

.jumbotron {
    padding: 0;
}

.item-footer-mod {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 0.9rem;
    margin-top: 5px;
}

.hashtags-title-mod {
    color: #2fb431;
    font-weight: 600;
    letter-spacing: 1px;
}

.keywords-title-mod {
    color: #2fb431;
    font-weight: 600;
    letter-spacing: 1px;
}

.hashtag-item-mod, .keyword-item-mod {
    color: #0d63af;
    font-weight: 600;
    letter-spacing: 1px;
}

.use_case-text_mod {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.breadcrumb-item-mod {
    display: flex;
    justify-content: left;
    width: 100%;
}

.collapse-card-mod {
    width: 100%;
}

.card {
    text-align: left;
    background-color: #f4f7fa;
    border: unset;
    padding-top: 5px;
}

.card-body {
    padding: 10px;
}

.collapse-descriptors {
    color: #f18911;
    /*margin-right: 20px;*/
}

.descriptor_mod {
    margin-right: unset;
}

.github-arrow {
    margin-left: 20px;
}

.use_case-text_mod {
    margin-top: unset;
}

.collapse-steps {
    /*margin-top: 15px;*/
    letter-spacing: .5px;
}

.collapse-step_mod1 {
    color: #00ae0a;
}

.collapse-step_mod2 {
    color: #0d63af;
}

.keywords-badge_mod1 {
    background-color: white;
    margin-top: 9px;
    color: black;
    font-style: italic;
}

.keywords-badge_mod2 {
    background-color: #61ac69;
    margin-top: 9px;
    color: #fff;
    font-style: italic;
}

.badge-counter_mod1 {
    font-size: .8rem;
    margin-left: 10px;
    position: absolute;
    z-index: 3;
    left: 130px;
    bottom: 28px;
}

.badge-counter_mod2 {
    font-size: .8rem;
    margin-left: 10px;
    position: absolute;
    z-index: 3;
    left: 50px;
    bottom: 25px;
}

#badge1 {
    width: 150px;
}

#badge2 {
    width: 75px;
}

.badge-env_mod1 {
    position: relative;
    margin-right: 20px;
}

.badge-env_mod2 {
    position: relative;
}

.all-algorithms {
    margin-top: 15px
}

.algorithm-text {
    color: #0d63af;
}

.algorithm-only_mod, .algorithm-or_mod {
    color: #ff1500;
    font-weight: bolder;
}

.algorithm-env_mod,
.algorithm-hashtag_mod,
.algorithm-keyWord_mod,
.algorithm-wantedWords_mod {
    color: #2fb431;
    font-weight: bolder;
}

.noResult-numberOfItems_mod {
    color: #ff1500;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 10px;
    font-style: italic;
}

.result-numbersOfItems_mod {
    color: #2fb431;
    font-weight: bolder;
    margin-bottom: 10px;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.h5x {
    font-size: 1.2em;
}

.h4x {
    font-size: 1.6em;
}

.h3x {
    font-size: 1.9em;
}

.h2x {
    font-size: 2.4em;
}

.search-connector_text {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.search-connector-buttons {
    font-weight: bolder;
}

.or-mod {
    width: 95px;
}

.test-description-title {
    margin-bottom: 10px;
}

.test-description {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    font-weight: lighter;
    padding: 10px;
}

.uc-description_and_image-section {
    display: flex;
    margin-top: 10px;
}

.use-case-image {
    margin-left: 5px;
}

.use-case-image img {
    border-radius: 5px;
    max-width: 800px;
    max-height: 600px;
    width: auto;
    height: auto;
}

.steps-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
    width: 50%;
}
.breadcrumb {
    padding: unset;
}

.breadcrumb-header {
    background-color: #eceff2;
    width: 100%;
    padding: 10px;
}